services:
  adapointr:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    image: adapointr:dev
    container_name: adapointr_dev
    working_dir: /workspace
    ports:
      - "6006:6006"

    deploy:
      resources:
        reservations:
          devices:
            - capabilities: [gpu]

    network_mode: "host"
    shm_size: 8g
    environment:
      NVIDIA_VISIBLE_DEVICES: "all"
      PYTHONPATH: /workspace/adapointr:/workspace
      DATA_ROOT: /data
      DISPLAY: ${DISPLAY}
      QT_X11_NO_MITSHM: 1
      XAUTHORITY: /root/.Xauthority
      XDG_RUNTIME_DIR: /run/user/0

    volumes:
      - ..:/workspace:cached
      - ${HOST_DATA_ROOT:-$HOME/datasets}:/data:ro
      - adapointr_cache:/root/.cache
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
      - ${HOME}/.Xauthority:/root/.Xauthority:ro
      - /tmp/.X11-unix:/tmp/.X11-unix

    tmpfs:
        - /run/user/0

    tty: true
    user: root #${UID:-1000}:${GID:-1000}

volumes:
  adapointr_cache:

